Repository buggregator/trap, pull requests merged in 2024-06, with the labels that each got.

#111 Add searching for XHProf local files
  composer.lock
  psalm-baseline.xml
  resources/templates/plain.php
  src/Application.php
  src/Client/TrapHandle.php
  src/Client/TrapHandle/StackTrace.php
  src/Command/Run.php
  src/Config/Server/Files/ObserverConfig.php
  src/Config/Server/Files/SPX.php
  src/Config/Server/Files/XDebug.php
  src/Config/Server/Files/XHProf.php
  src/Processable.php
  src/Proto/Frame/Profiler.php
  src/Proto/Frame/Profiler/Payload.php
  src/Proto/Frame/Profiler/Type.php
  src/Proto/Frame/Sentry.php
  src/Proto/Server/Version/V1.php
  src/ProtoType.php
  src/Sender/Console/Renderer/Plain.php
  src/Sender/Console/Renderer/Profiler.php
  src/Sender/ConsoleSender.php
  src/Sender/Frontend/FrameMapper.php
  src/Sender/Frontend/Mapper/Profiler.php
  src/Service/Config/ConfigLoader.php
  src/Service/Config/PhpIni.php
  src/Service/Container.php
  src/Service/FilesObserver.php
  src/Service/FilesObserver/Converter/Branch.php
  src/Service/FilesObserver/Converter/Cost.php
  src/Service/FilesObserver/Converter/Edge.php
  src/Service/FilesObserver/Converter/Tree.php
  src/Service/FilesObserver/Converter/XHProf.php
  src/Service/FilesObserver/FileInfo.php
  src/Service/FilesObserver/FrameConverter.php
  src/Service/FilesObserver/Handler.php
  src/Socket/Client.php
  src/functions.php
Labels: enhancement, tests

#113 CI: separate psalm and phpstan workflows
  .github/workflows/static-analysis.yml
  phpstan.neon.dist
  tests/Unit/Client/FunctionTrapTest.php
  tests/Unit/Client/TrTest.php
  tests/Unit/Client/TrapTest.php
  tests/Unit/Handler/Router/RouterTest.php
  tests/Unit/Sender/Frontend/EventsStorageTest.php
  tests/Unit/Traffic/Dispatcher/HttpTest.php
  tests/Unit/Traffic/Dispatcher/VarDumperTest.php
  tests/Unit/Traffic/Emitter/HttpTest.php
  tests/Unit/Traffic/Message/Multipart/FieldTest.php
  tests/Unit/Traffic/Message/Multipart/FileTest.php
  tests/Unit/Traffic/Parser/HttpParserTest.php
  tests/Unit/Traffic/Parser/MultipartBodyParserTest.php
  tests/Unit/Traffic/Parser/SmtpParserTest.php
  tests/Unit/Traffic/Proto/Server/Version/V1Test.php
Labels: bug, maintenance, tests

#115 ci: add phpstan baseline
  .github/workflows/static-analysis.yml
  composer.json
  composer.lock
  phpstan-baseline.neon
Labels: maintenance

#108 chore(master): release 1.9.0
  CHANGELOG.md
  resources/version.json
Labels: autorelease: pending

#124 Fix docs and ports option
  README.md
  src/Command/Run.php
  src/Config/Server/TcpPorts.php
Labels: bug

#119 chore(master): release 1.10.0
  CHANGELOG.md
  resources/version.json
Labels: autorelease: pending

#128 Better HTTP/SMTP Multipart parsing
  README.md
  src/Traffic/Message/Multipart/Part.php
  src/Traffic/Parser/Http.php
  src/Traffic/Parser/MultipartType.php
  src/Traffic/Parser/Smtp.php
  tests/Unit/Traffic/Parser/MultipartBodyParserTest.php
Labels: bug, tests

#125 chore(master): release 1.10.1
  CHANGELOG.md
  resources/version.json
Labels: autorelease: pending

#131 Fix Psalm issues
  psalm-baseline.xml
  src/Client/Caster/ProtobufCaster.php
  src/Sender/Console/Renderer/Profiler.php
  src/Sender/Console/Renderer/Sentry/Exceptions.php
  src/Sender/Console/Renderer/VarDumper.php
  src/Sender/Console/Support/Tables.php
  src/Support/Stream/Base64DecodeFilter.php
  src/Traffic/Message/Multipart/Part.php
  src/Traffic/Parser/Http.php
Labels: maintenance
