Repository buggregator/trap, pull requests merged in 2024-05, with the labels that each got.

#57 Fix psalm, clear psalm-baseline.yaml
  psalm-baseline.xml
  src/Proto/Frame/Smtp.php
  src/Sender/Console/Renderer/SentryEnvelope.php
  src/Sender/Console/Renderer/Smtp.php
  src/Sender/Console/Renderer/TemplateRenderer.php
  src/Sender/Console/Renderer/VarDumper.php
  src/Sender/Console/Support/Common.php
  src/Sender/Console/Support/Files.php
  src/Sender/Console/Support/Tables.php
  src/Sender/ConsoleSender.php
  src/Socket/Client.php
  src/Socket/Server.php
  src/Support/StreamHelper.php
  src/Traffic/Dispatcher/Http.php
  src/Traffic/Dispatcher/Smtp.php
  src/Traffic/Message/Headers.php
  src/Traffic/Message/Multipart/Field.php
  src/Traffic/Message/Multipart/File.php
  src/Traffic/Message/Multipart/Part.php
  src/Traffic/Message/Smtp.php
  src/Traffic/Parser/Http.php
  src/Traffic/Parser/Smtp.php
  src/functions.php
  tests/Unit/Traffic/Parser/HttpParserTest.php
Labels: for contributors

#64 Fix psalm, clear psalm-baseline.yaml: Test, Http, Sentry, Sender.php
  psalm-baseline.xml
  src/Command/Test.php
  src/Handler/Http/Handler/Fallback.php
  src/Handler/Http/Handler/Websocket.php
  src/Handler/Http/Middleware/SentryTrap.php
  src/Proto/Frame/Sentry.php
  src/Proto/Frame/Sentry/SentryEnvelope.php
  src/Proto/Frame/Sentry/SentryStore.php
  src/Sender.php
  src/Sender/Console/Renderer/Http.php
  src/Sender/Console/Support/Common.php
  src/Traffic/Message/Multipart/File.php
Labels: enhancement

#93 ci: refactor workflows
  .github/labeler.yml
  .github/workflows/apply-labels.yml
  .github/workflows/build-phar-release.yml
  .github/workflows/coding-standards.yml
  .github/workflows/github-releases-to-discord.yml
  .github/workflows/lint-php-files.yml
  .github/workflows/testing.yml
  psalm-baseline.xml
Labels: maintenance, tests

#95 chore(master): release 1.7.1
  CHANGELOG.md
  resources/version.json
Labels: autorelease: pending

#98 chore(master): release 1.7.3
  CHANGELOG.md
  resources/version.json
Labels: autorelease: pending

#99 fix: release asset upload
  .github/workflows/build-phar-release.yml
Labels: maintenance

#100 chore(master): release 1.7.4
  CHANGELOG.md
  resources/version.json
Labels: autorelease: pending

#101 chore(master): release 1.7.5
  CHANGELOG.md
  resources/version.json
Labels: autorelease: pending

#102 Add tr() and td() functions
  README.md
  composer.json
  composer.lock
  psalm-baseline.xml
  src/Client/Caster/EnumValue.php
  src/Client/Caster/ProtobufCaster.php
  src/Client/Caster/Trace.php
  src/Client/Caster/TraceCaster.php
  src/Client/Caster/TraceFile.php
  src/Client/TrapHandle.php
  src/Client/TrapHandle/StackTrace.php
  src/functions.php
  tests/Unit/Client/Caster/TraceFileTest.php
  tests/Unit/Client/Caster/TraceTest.php
  tests/Unit/Client/FunctionTrapTest.php
  tests/Unit/Client/TrTest.php
Labels: enhancement, tests

#103 Add `trap()->code()` sugar
  src/Client/TrapHandle.php
  tests/Unit/Client/TrapTest.php
Labels: enhancement

#106 Change release generation type to Github API
  .github/.release-please-config.json
Labels: maintenance

#104 chore(master): release 1.8.0
  CHANGELOG.md
  resources/version.json
Labels: autorelease: pending

#107 ci: to not include version prefix
  .github/.release-please-config.json
Labels: maintenance
